@page "/"

<PageTitle>Dashboard</PageTitle>

<h3>Dashboard</h3>

<div class="row">

    <div class="col-md-3">
        <DashboardCard Title="Today's Orders"
                       Value="15" />
    </div>

    <div class="col-md-3">
        <DashboardCard Title="Revenue"
                       Value="KSh 24,500" />
    </div>

    <div class="col-md-3">
        <DashboardCard Title="Customers"
                       Value="120" />
    </div>

    <div class="col-md-3">
        <DashboardCard Title="Low Stock"
                       Value="8" />
    </div>

</div>